email_service/src/main/resources/xsd/notification.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
        targetNamespace="http://www.ftn.uns.ac.rs/notification">

    <xs:complexType name="Notification">
        <xs:sequence>
            <xs:element form="qualified" name="pdfFile" type="xs:base64Binary"/>
            <xs:element form="qualified" name="htmlFile" type="xs:base64Binary"/>
            <xs:element form="qualified" name="receiverEmail" type="xs:string"/>
            <xs:element form="qualified" name="senderEmail" type="xs:string"/>
            <xs:element form="qualified" name="documentId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
