email_service/src/main/resources/wsdl/ObavestenjeNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrganVlastiEmailServiceImplService" targetNamespace="http://organ_vlasti.soap.email_service.ftn.uns.ac.rs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://organ_vlasti.soap.email_service.ftn.uns.ac.rs/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ftn.uns.ac.rs/reject_notification" version="1.0">

  <xs:complexType name="RejectNotification">
    <xs:sequence>
      <xs:element name="zahtevId" type="xs:string"/>
      <xs:element name="senderEmail" type="xs:string"/>
      <xs:element name="receiverEmail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ftn.uns.ac.rs/obavestenje_notification" version="1.0">

  <xs:complexType name="obavestenjeNotification">
    <xs:sequence>
      <xs:element name="pdfFile" type="xs:base64Binary"/>
      <xs:element name="htmlFile" type="xs:base64Binary"/>
      <xs:element name="receiverEmail" type="xs:string"/>
      <xs:element name="senderEmail" type="xs:string"/>
      <xs:element name="zahtevId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:ns1="http://www.ftn.uns.ac.rs/reject_notification" xmlns:ns2="http://www.ftn.uns.ac.rs/obavestenje_notification" xmlns:tns="http://organ_vlasti.soap.email_service.ftn.uns.ac.rs/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://organ_vlasti.soap.email_service.ftn.uns.ac.rs/" version="1.0">

  <xs:import namespace="http://www.ftn.uns.ac.rs/reject_notification"/>

  <xs:import namespace="http://www.ftn.uns.ac.rs/obavestenje_notification"/>

  <xs:element name="rejectZahtev" type="tns:rejectZahtev"/>

  <xs:element name="rejectZahtevResponse" type="tns:rejectZahtevResponse"/>

  <xs:element name="sendObavestenje" type="tns:sendObavestenje"/>

  <xs:element name="sendObavestenjeResponse" type="tns:sendObavestenjeResponse"/>

  <xs:complexType name="rejectZahtev">
    <xs:sequence>
      <xs:element minOccurs="0" name="rejectNotification" type="ns1:RejectNotification"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rejectZahtevResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendObavestenje">
    <xs:sequence>
      <xs:element minOccurs="0" name="obavestenjeNotification" type="ns2:obavestenjeNotification"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendObavestenjeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendObavestenje">
    <wsdl:part name="parameters" element="tns:sendObavestenje">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectZahtevResponse">
    <wsdl:part name="parameters" element="tns:rejectZahtevResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectZahtev">
    <wsdl:part name="parameters" element="tns:rejectZahtev">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendObavestenjeResponse">
    <wsdl:part name="parameters" element="tns:sendObavestenjeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrganVlastiEmailService">
    <wsdl:operation name="rejectZahtev">
      <wsdl:input name="rejectZahtev" message="tns:rejectZahtev">
    </wsdl:input>
      <wsdl:output name="rejectZahtevResponse" message="tns:rejectZahtevResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendObavestenje">
      <wsdl:input name="sendObavestenje" message="tns:sendObavestenje">
    </wsdl:input>
      <wsdl:output name="sendObavestenjeResponse" message="tns:sendObavestenjeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganVlastiEmailServiceImplServiceSoapBinding" type="tns:OrganVlastiEmailService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="rejectZahtev">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="rejectZahtev">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rejectZahtevResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendObavestenje">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendObavestenje">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendObavestenjeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganVlastiEmailServiceImplService">
    <wsdl:port name="OrganVlastiEmailServiceImplPort" binding="tns:OrganVlastiEmailServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/OrganVlastiEmailServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
